.applicationInformation { position: relative; }
.applicationInformationDropdown { position: absolute; display:block; width:450px; background:#222; left:0; top:40px; box-shadow: 0 5px 5px rgb(0 0 0 / 20%); z-index:1024; }
.applicationInformationDropdownWrapper { background:#141414; margin: 2px; width:calc(100% - 4px); height:calc(100% - 4px); padding:16px; }
.applicationInformationDropdownWrapper strong, .applicationInformationDropdownWrapper span { display:block; }
.applicationInformationDropdownWrapper strong { margin-bottom:10px; }
.applicationInformationDropdownWrapper a { color:#fff; text-decoration: underline; }
.applicationInformationDropdownWrapper a:hover { color:#fff; text-decoration: none; }
.tableRow { display: flex; flex-direction: row; justify-content: space-between; margin-top:10px; margin-bottom:10px; align-items: center; }
.tableRow:first-child { margin-top:0; }
.tableRow:last-child { margin-bottom:0; }
.tableCol { display: flex; width:50%; align-items: center; }
.tableCol svg { width:16px !important; height:auto; margin-right:10px; }

.production { color:#00a338; }
.noProduction { color:#ff460d; }
span.noProduction { display:inline-block; }

.badge { position:absolute; right:0; bottom:0; background:#ff460d; padding:2px; color:#fff; font-weight:bold; font-size:10px; width:fit-content; display: inline-block; line-height:1; border-radius: 2px; margin-bottom:2px; margin-right:2px; pointer-events: none; }

.button { outline:0 !important; border:0 !important; }
.button:hover { background:none !important; }
.button:hover svg path { fill:#00ADEE !important; }
